{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["jsx-a11y", "prettier", "cypress"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "cypress/no-unnecessary-waiting": "warn"
  },
  "globals": {
    "vi": true
  }
}
