.set-sms {
  .phone-input-wrapper {
    padding: 10px;

    margin-bottom: 20px;
  }
  .PhoneInputInput {
    padding: 8px;
    font-size: 1em;
  }
  .step {
    padding: 2em;
    margin-bottom: 1.4em;
    &.active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    &.disabled {
      background-color: #eee;
      * {
        opacity: 0.5;
      }
    }
  }
}

.callout {
  padding: 1.6em !important;
}
