.notification {
  border: 2px solid #fff;
  padding: 12px;
  text-align: center;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  animation: notifFadein 0.1s;
}

@keyframes notifFadein {
  0%,
  25% {
    opacity: 0;
  }
  50%,
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fa-icon {
  padding-right: 3px;
}

.msg-container {
  align-self: center;
  font-size: 1.25rem;
}

.closeBtn {
  color: #fff;
  font-size: large;
  text-align: right;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.Success {
  background-color: #006400;
}

.Error {
  background-color: #a7171a;
}

.Warning {
  background-color: #f0a54b;
}

.Info {
  background-color: #55bede;
}
