.authAuthenticator {
  .authTitle,
  .authAlert,
  .authSubheader,
  .supportLink {
    color: #fff;
  }

  .authLogo {
    margin: 16px 0 8px 16px;
  }
  .authTitle {
    h1 {
      margin: 0 0 16px 32px;
      font-size: 2rem;
      line-height: 1.25;
    }
  }

  .authAlert {
    padding: 16px 16px 0 16px;
    border: 1px solid #fff;
    background-color: #8a1538;
    margin-bottom: 20px;

    & > p,
    .authSubheader {
      margin-bottom: 12px;
    }
  }

  .authSubheader {
    font-size: 1.5rem;
  }

  @media (max-width: 960px) {
    .authLogo {
      .amplify-image {
        margin: 10px 0 10px 32px;
      }
    }
  }

  .authFooterLinks.authFooterLinks {
    justify-content: space-between !important;
    padding: 30px 32px 8px 32px;
    a {
      color: #fff;
      &:link {
        text-decoration: none;
        font-weight: 500;
      }
      &:hover,
      &:active,
      &:visited {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .authFooterText.authFooterText {
    justify-content: center;
    padding: 10px 32px 8px 32px;
    color: #fff;
  }
}

// TOTP instructions and verify TOTP comps
.panelBack {
  background-color: #f0f4f5;
}

.qrAuth {
  height: 300px;
  width: 200px;
  margin-bottom: 30px;
}

.qrTss {
  padding: 20px;
}

.detailsAuthHelp {
  margin-bottom: 40px;
}

.altDownloadApple {
  height: 90px;
  width: 175px;
  margin-left: 12px;
  margin-right: 12px;
}

.altDownloadAndroid {
  height: 89px;
  width: 200px;
}
