@import "~nhsuk-frontend/packages/nhsuk";
@import "~nhsuk-frontend/packages/core/all";
@import "react-phone-number-input/style.css";

$nhsFont: “Frutiger W01”, Arial, sans-serif;
$nhsBlue: #005eb8;
$nhsSuccess: #006400;
$nhsError: #a7171a;
$nhsEmergency: #d5281b;

html {
  background-color: inherit;
  font-family: $nhsFont !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-amplify-authenticator] {
  font-family: "Frutiger W01", Arial, sans-serif;
  background-color: #005eb8;
  min-height: calc(100vh);

  [data-state="active"] {
    background-color: #fff !important;
    color: #005eb8 !important;
    &:focus {
      outline: none !important;
    }
  }
  [data-state="inactive"] {
    background-color: #eee !important;
  }

  [data-amplify-form] {
    padding: 16px 32px !important;
  }

  .amplify-heading {
    color: #005eb8 !important;
    padding-top: 16px !important;
    font-size: 1.5rem !important;
  }
  .amplify-button[data-variation="primary"] {
    background-color: #005eb8 !important;
  }

  [data-amplify-authenticator-signin] .amplify-button[data-variation="primary"],
  [data-amplify-authenticator-signup]
    .amplify-button[data-variation="primary"] {
    margin-top: 60px;
    margin-bottom: -40px;
  }
  @media (min-width: 768px) and (orientation: landscape) {
    [data-amplify-authenticator-signin]
      .amplify-button[data-variation="primary"],
    [data-amplify-authenticator-signup]
      .amplify-button[data-variation="primary"] {
      margin-top: 70px;
      margin-bottom: -40px;
    }
  }
  @media (max-width: 768px) and (min-width: 478px) and (orientation: landscape) {
    [data-amplify-authenticator-signin]
      .amplify-button[data-variation="primary"],
    [data-amplify-authenticator-signup]
      .amplify-button[data-variation="primary"] {
      margin-top: 110px;
      margin-bottom: -75px;
    }
  }
  @media (max-width: 478px) and (min-width: 390px) {
    [data-amplify-authenticator-signin]
      .amplify-button[data-variation="primary"],
    [data-amplify-authenticator-signup]
      .amplify-button[data-variation="primary"] {
      margin-top: 80px;
      margin-bottom: -60px;
    }
  }
  @media (max-width: 390px) and (min-width: 280px) {
    [data-amplify-authenticator-signin]
      .amplify-button[data-variation="primary"],
    [data-amplify-authenticator-signup]
      .amplify-button[data-variation="primary"] {
      margin-top: 100px;
      margin-bottom: -75px;
    }
  }
  @media (max-width: 280px) {
    [data-amplify-authenticator-signin]
      .amplify-button[data-variation="primary"],
    [data-amplify-authenticator-signup]
      .amplify-button[data-variation="primary"] {
      margin-top: 120px;
      margin-bottom: -100px;
    }
  }

  .amplify-button[data-variation="link"] {
    color: #005eb8 !important;
  }

  [data-amplify-router] {
    box-shadow: rgb(0, 21, 42) 0px 16px 24px -10px !important;
  }

  .signInSupportLinks {
    position: relative;
    top: -80px;
    margin: 0 30px;
    font-size: 0.85em;
  }
  .signInSupportLinks .supportEmail:hover {
    cursor: help;
  }
}

.App {
  text-align: center;
}

.app-global-alert {
  background-color: #ffeb3b;
  padding-top: 24px;
}

.app-signin-alert {
  display: block;
  background-color: #ffeb3b;
  padding: 8px;
  border: 1px solid orange;
  text-align: center;
  margin: 0px 0px 24px 0px;
}

.app-signin-alert p {
  margin-bottom: 8px !important;
}

.nhsuk-pagination__link {
  cursor: pointer;
}

.nhsuk-pagination-item--previous .nhsuk-pagination__title {
  padding-right: 8px !important;
}

.nhsuk-pagination-item--next .nhsuk-pagination__title {
  padding-left: 8px !important;
}

.noWrap {
  white-space: nowrap;
}

button:disabled {
  opacity: 0.4 !important;
}

.nhsuk-button {
  @media (max-width: 40.0525em) {
    padding: 8px 8px !important;
  }
}

// form r page header
.fieldset-legend__header {
  color: $nhsBlue;
}

.nhsuk-header__navigation-link {
  transition: all 200ms ease-in-out;
  &.active,
  &:hover,
  &:focus,
  &:focus:visited,
  &:active,
  &:active:visited {
    background-color: darken(#005eb8, 7%) !important;
    color: #fff;
  }
}

.header-logo-link {
  padding: 0 !important;
}

.nhsuk-header__menu-toggle {
  &.closeMenu {
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
    &::after {
      content: "Hide";
      text-indent: 0;
      display: block;
      line-height: 24px; /* New content takes up original line height */
    }
  }
}

.hide-label {
  label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 40.0525em) {
  .nhsuk-header__menu-toggle {
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .MuiTypography-h5 {
    display: none;
  }

  .bottom-navigation-menu {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    box-shadow: -1px -2px 0px 0px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  .header-menu {
    display: none;
  }

  .MuiTabs-root {
    display: none;
  }
}

//Browser outdated

.buorg {
  color: #fff !important;
  background-color: #8a1538 !important;
  font-family: "Frutiger W01", Arial, sans-serif !important;
  border: none !important;
  animation: none !important;
}

#buorgig,
#buorgul,
#buorgpermanent {
  box-shadow: none !important;
  padding: 6px 16px !important;
  border: 1px solid lighten(#8a1538, 18%) !important;
  background: rgba(0, 0, 0, 0.3) !important;
}

.buorg-mainmsg {
  display: block !important;
}
.buorg-moremsg {
  font-size: 90% !important;
  width: 80% !important;
  display: inline-block !important;
}

.buorg-icon {
  display: none !important;
}

.centreSpinner {
  position: fixed;
  margin: auto;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// field warning
.field-warning-container {
  padding-bottom: 1.5rem;
  text-align: left;
  display: flex;
}

.field-warning-msg {
  margin-left: 0.5rem;
  font-weight: 500;
}

.field-warning-icon {
  color: #ed8b00;
}

//form r b progress bar
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 1.5rem 0;

  .progress-step {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #003087;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003087;
    z-index: 2;
  }

  .progress-step-active {
    background-color: #ae2573;
    border: none;
  }
}

// progress bar joining line
.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 99%;
  background-color: #003087;
  z-index: 1;
}

.PhoneInputInput {
  padding: 4px;
  font-size: 1rem;
  max-width: 41ex;
  border: 2px solid #4c6272;
  &:focus {
    border: 4px solid black;
    outline: 4px solid #ffeb3b;
  }
  @media (min-width: 40.0625em) {
    font-size: 1.1875rem;
  }
}

// print preview css for PDF
@media print {
  header,
  header *,
  button,
  .nhsuk-back-link,
  .hide-from-print {
    display: none !important;
  }

  .nhsuk-grid-row {
    margin: 0 !important;
  }

  .nhsuk-panel-with-label {
    margin-top: 0 !important;
  }

  .nhsuk-panel-with-label .nhsuk-panel {
    border: none !important;
  }

  .nhsuk-panel-with-label .nhsuk-panel h3 {
    font-size: 22px;
    padding: 10px 0px;
    border-bottom: 1px solid #d8dde0;
  }

  fieldset {
    margin-bottom: 20px !important;
  }

  .page-break {
    page-break-before: always !important;
  }

  .nhsuk-summary-list__key {
    width: 70mm !important;
    display: table-cell !important;
  }
  .nhsuk-summary-list__value {
    display: table-cell !important;
  }
}

ol[type="a"] {
  list-style-type: lower-alpha;
}

// FormBuilder

.form-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-navigation-next-link {
  display: flex;
  justify-content: flex-end;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

.page-nav-link {
  text-align: right;
}

// Toast message
.Toastify__toast-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
}

.success {
  color: $nhsSuccess;
}

.error {
  color: $nhsError;
}

.Toastify__toast-body {
  font-family: $nhsFont;
}

.toast-text {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 4px 40px;
}

.toast-anchor {
  color: $nhsBlue;
  margin-left: 40px;
  font-size: 1rem;
}

// Scrollbar styles for Webkit-based browsers
// TODO moz and edge
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar styles for Firefox */

* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

// Home header section
@media (max-width: 768px) {
  .header-wrapper {
    padding: 1.5rem 0;
  }
}

.tss-update-column {
  padding: 56px 16px;
}

@media (max-width: 768px) {
  .tss-update-column {
    padding-top: 0;
  }
}

.tss-updates-content {
  box-sizing: border-box;
  border: solid #ffffff33 2px;
  padding: 16px;
}

.list-panel-header {
  margin-bottom: 0;
}

.custom-link {
  color: #fff !important; // needed to override NHSUK default
  text-decoration: underline;
  text-decoration-color: #fff;
}

.custom-link:hover {
  text-decoration: none;
}

.whats-new-header {
  font-size: 2rem;
  font-weight: bold;
}

.whats-new-link:focus:visited {
  color: black !important;
}

@media (max-width: 768px) {
  .whats-new-header {
    font-size: 1.25rem;
    font-weight: normal;
  }
}

// nav header
.tss-beta-link {
  color: #fff !important; // needed to override NHSUK default
  font-size: 1rem;
}

.tss-beta-link:focus:visited {
  color: black !important;
}

.top-nav-container {
  display: flex;
  justify-content: space-between;
  max-height: 3rem;
}

.top-nav-container a {
  cursor: pointer;
}

@media (max-width: 989px) {
  .top-nav-container {
    display: none;
  }
}

@media (min-width: 990px) {
  .mobile-only-nav {
    display: none;
  }
}

.sign-out-btn {
  margin: 0 0 0 1rem;
  padding: 0 1rem;
  box-shadow: 0 1px 0 #00401e;
}

@media (max-width: 989px) {
  .sign-out-btn {
    margin: 1rem 0 1rem 1rem;
    color: white;
    padding: 0.75rem 1rem;
  }
}

.tss-name {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .tss-name {
    font-size: 1.25rem;
  }
}

.header-nav {
  margin-top: 0.25rem;
}

.btn_full-width {
  min-width: 100%;
  max-width: 100%;
}

//ul
.no-bullet {
  list-style-type: none;
  margin-left: -1em;
}

.total-field {
  border: none;
  background-color: lightgray;
}

.total-field:focus {
  outline: none;
  border: none;
}
// error summary
.error-summary_li {
  list-style-type: none;
  margin-left: -2em;
}

@media (max-width: 640px) {
  .error-summary_li {
    list-style-type: none;
    margin-left: -2.5em;
  }
}

.error-summary_li_nested {
  list-style-type: none;
}

.error-spacing_div {
  padding-top: 0.5em;
}

// ---- Notifications Icon ----

.notification-btn {
  margin: 0.3rem 0 0 1rem;
  position: "relative";
  padding: 0 1rem;
  box-shadow: 0 1px 0 transparent;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: darken(#005eb8, 7%) !important;
  }
}

.notification-btn:hover .notification-badge {
  background-color: darken(#ed8b00, 7%);
}

.notification-badge {
  position: absolute;
  bottom: 45%;
  left: 50%;
  background-color: #ed8b00;
  color: white;
  min-height: 30%;
  min-width: 30%;
  border-radius: 16px;
  padding: 2% 10%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// mobile notifications

@media (max-width: 989px) {
  .notification-btn {
    margin: 0.3rem 1rem 0 1rem;
  }
}

@media (max-width: 640px) {
  .notification-badge {
    padding: 1% 16%;
  }
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 989px) {
  .mobile-header {
    display: none;
  }
}

// ---- Notifications table ----
.table-wrapper {
  overflow-x: auto;
}

// ---- Notifications table pagination ----

.nhsuk-mobile-pagination-col {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  @include nhsuk-responsive-padding(3);
  @include nhsuk-responsive-padding(0, "bottom");
}

.nhsuk-mobile-pagination-row {
  @include nhsuk-responsive-padding(6, "right");
  @media (max-width: 440px) {
    @include nhsuk-responsive-padding(2, "top");
  }
  @media (max-width: 345px) {
    @include nhsuk-responsive-padding(3, "top");
    @include nhsuk-responsive-padding(0, "left");
  }
}
// Global search
.table-search-input {
  margin: 1rem 0;
}

// Header
.table-header-btn {
  color: #425563;
  padding: 0;
  border: none;
  &:hover {
    cursor: pointer;
    color: #005eb8;
  }
}

.table-header-btn-icon {
  color: #425563;
  &:hover {
    color: #005eb8;
  }
}

// Row
.table-row {
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #cbe0d9;
  }
}
.row-read {
  font-weight: normal;
  background-color: #d8dde0;
}

.row-unread {
  font-weight: bold;
  background-color: white;
}

.table-data {
  border-top: solid 1px #bfc3c6;
}

.status-read {
  color: #006400;
}

.status-unread {
  color: #005eb8;
}

.back-link {
  cursor: pointer;
}

.container {
  color: #425563;
  background-color: whitesmoke;
  border: solid 2px white;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

// pagination

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.pagination-container > span {
  flex: 1 0 20%;
}

@media (max-width: 768px) {
  .pagination-container {
    flex-wrap: wrap;
  }

  .pagination-container > span {
    flex: auto;
    text-align: center;
    padding-top: 32px;
  }

  .pagination-container > span:first-child {
    flex: 1 0 100%;
  }
}

.pagination-btn {
  background-color: #005eb8;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0px;
  border-radius: 4px;
  &:hover {
    background-color: #002f5c;
    transform: scale(1.1);
  }
}

.unread-btn {
  min-width: 190px;
  max-width: 190px;
  margin-right: 16px;
  border: 1px solid white;
  box-shadow: 0 1px 0 #4c6272;
  border-radius: 4px;
  background-color: #f0f4f5;
  color: #425563;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid darken(whitesmoke, 5%);
    transform: scale(1.1);
    cursor: pointer;
    color: #212b32;
    background-color: whitesmoke;
  }
  &:active {
    background-color: #003f6d;
    color: whitesmoke;
  }
}

.unread-icon {
  color: #425563;
  margin-right: 0.5em;
}

// CCT calculator Cct.tsx

// dialog
#cct-disclaimer-text {
  color: $nhsEmergency;
  font-size: 1rem;
}
.cct-dialog {
  z-index: 1000;
  background-color: whitesmoke;
  position: relative;
  top: 0;
  margin: 2rem;

  &.draggable {
    cursor: move;
  }

  @media (min-width: 1025px) {
    position: absolute;
  }

  @media (min-width: 1025px) and (max-width: 1199px) {
    right: 50vw;
  }

  @media (min-width: 1200px) and (max-width: 1299px) {
    right: 60vw;
  }

  @media (min-width: 1300px) and (max-width: 1899px) {
    right: 65vw;
  }

  @media (min-width: 1900px) {
    right: 75vw;
  }

  @media (max-width: 440px) {
    right: 0;
    margin: 2rem 1rem;
  }
}

.no-move {
  cursor: default;
}

#cct-btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

// CctBtn.tsx
#cct-card {
  background-color: #fafbfd;
}

#cct-btn span {
  margin-right: 0.5em;
}

// printable CCT
.cct-printable {
  // always invisible except print preview
  display: none;
}

@media print {
  .cct-printable {
    position: relative;
    top: 16px;
    left: 16px;
    max-width: 95vw;
    display: block;
  }
  .cct-printable h1 {
    color: #444;
    font-size: 2em;
  }
  .cct-printable h2 {
    color: #444;
    font-size: 1.5em;
  }
  .cct-printable p {
    font-size: 1em;
    line-height: 1.6;
  }
  .cct-printable section {
    margin-bottom: 2em;
  }
}
