.field-warning-container {
  padding-bottom: 1.5rem;
  text-align: left;
  display: flex;
}

.field-warning-msg {
  margin-left: 0.5rem;
  font-weight: 500;
}

.field-warning-icon {
  color: #ed8b00;
}
